body{
	margin:0px 0px 0px 10px;
	font-family:Aller;
	font-size:16px;
}

h2{
	font-family:Proxima Nova;
	color:#5B5BFF;
}

table{
	border:1px solid #fff;
}

th{
	background:#FF9933;
	border:1px solid #FF9933;
}

tr{
	background:#9669FE;
	border:1px solid #9669FE;
}

td{
	border:1px solid #9669FE;
}

tr:hover{
	background:#F7FFFD;
}

