body{
	color:#eac040;
	margin:0px;
	font-family:Segoe UI;
	font-size:18px;
	margin:8% 35% 8% 35%;
	background:-moz-linear-gradient(bottom, rgb(252,252,252) 26%, rgb(203,242,242) 61%) no-repeat;
}

input[type=submit]{
	height:40px;
	width:100px;
	font-family:Proxima Nova;
	font-size:18px;
	background:#40b0ea;
	border:1px solid #40b0ea;
	cursor:pointer;
	color:#fff;
}

input[type=text]{
	border:1px solid #ddd;
	height:20px;
	padding:2px;
	width:150px;
	
}